ul#genreList,
div#synopsis {
  display: flex;
}

div#synopsis img {
  padding: 2%;
}

.App {
  margin: 0 auto;
  width: 960px;
}

h3 {
  margin: 2% !important;
}

#synText {
  padding: 2%;
}

.MuiCard-root {
  margin: 2%;
}

#container {
  padding: none;
}

#source,
#other-titles,
#genre {
  padding: 2%;
}

button {
  border: 1px solid black;
}
