ul#genreList,
div#synopsis {
  display: flex;
}

div#synopsis img {
  padding: 2%;
}

.App {
  margin: 0 auto;
  width: 960px;
}

h3 {
  margin: 2% !important;
}

#synText {
  padding: 2%;
}

.MuiCard-root {
  margin: 2%;
}

#container {
  padding: none;
}

#source,
#other-titles,
#genre {
  padding: 2%;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

.nav li {
  width: 25%;
}

.nav li a button {
  width: 100%;
}

form button {
  width: 15%;
  margin: 2% !important;
}

.loggedOut {
  background-color: black;
}

#login {
  padding: 2%;
}

#outlined-basic {
  width: 100% !important;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#login-form {
}

.textfield {
  width: 50%;
  margin: 2% !important;
  clear: both;
}
