.liststyle {
    list-style: none;
    padding: 0;
}
h1 {
    font-size: 2rem;
    margin: .6rem;
}
h2 {
    font-size: 1.6rem;
    margin: .6rem;
}
.flex {
    display: flex;
}
.App {
    margin: 0 auto;
    width: 1200px;
    border-right: 2px black solid;
    border-left: 2px black solid;
}
.title {
    margin: .6rem;
    font-size: 2.6rem;
}
.titleContainer {
    border-bottom: 2px black solid;
}
img {
    margin: .6rem;
}
h3 {
    font-size: 1.4rem;
    margin: .6rem;
}
.synopsis {
    margin: .6rem;
}
#genre {
    margin: .6rem;
    display: flex;

}
ul {
    margin: .6rem;
}
li {
    margin: .2rem;
}
.adaptation {
    margin: .6rem;
}
a {
    text-decoration: none;
}
.DERP {
    border-bottom: black 1px solid;
}